{% extends 'base.html' %}
{% block content %}
<section class="grid">
  <article class="card">
    <h2>Registrarse</h2>
    <p>La contraseña por defecto para nuevos alumnos es: <strong>{{ default_student_password }}</strong></p>
    <form method="post" class="form">
      <label>Nombre completo</label>
      <input name="full_name" required>

      <label>Numero de cuenta</label>
      <input name="student_code" required>

      <label>Grupo y turno</label>
      <input name="classroom" required>

      <button class="btn" type="submit">Guardar</button>
    </form>
  </article>

  <article class="card">
    <h2>Listado</h2>
    {% if students %}
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Grupo</th>
            <th>Rol</th>
            <th>QR</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        {% for s in students %}
          <tr>
            <td>{{ s.full_name }}</td>
            <td>{{ s.student_code }}</td>
            <td>{{ s.classroom }}</td>
            <td>{{ s.role }}</td>
            <td><a href="{{ url_for('student_qr', student_id=s.id) }}">Ver QR</a></td>
            <td>
              <form method="post" action="{{ url_for('delete_student', student_id=s.id) }}" style="display:inline">
                <button class="btn btn-danger" type="submit" onclick="return confirm('¿Eliminar alumno?')">Eliminar</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No hay alumnos registrados.</p>
    {% endif %}
  </article>
</section>
{% endblock %}
